.privacy-policy {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  text-decoration: none;
  color: #7E7E82;

  @media screen and (min-width: 426px) {
    width: 215px;
  }
}
